body {
  margin: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.half {
  width: 50%;
  display: inline-block
}

div.wrapper {
  width: fit-content;
  margin-bottom: 40px;
}

div.row {
  display: flex;
  flex-direction: row;
}

div.form-row {
  margin: .25em 0 .25em 0;
}

div.row-end {
  justify-content: end;
}

input.field {
  height: 1.75rem;
  font-size: 1.25rem;
}

input.error {
  border-color: rgb(255, 0, 0);
  border-width: 1px;
  border-style: solid
}

label.field-label {
  margin: 0 5px 0 0;
  display: flex;
  align-items: center;
  width: 100px;
}

button {
  cursor: pointer;
}

button:hover {
  filter: brightness(80%);
  -webkit-filter: brightness(80%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

button.button {
  width: 100px;
  height: 30px;
  font-size: 1.1rem;
  border-radius: 5px;
}

button.button-submit {
  background-color: rgb(77, 255, 136);
  border: none;
}

table {
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
}

table.spaced td, table.spaced th {
  padding: 0px 15px;
}

tr td, tr th {
  border-right: solid;
  border-width: 1px;
}

tr td:last-of-type, tr th:last-of-type {
  border: none;
}

table tr:last-of-type td {
  padding-bottom: 10px;
}

table tr:first-of-type th {
  padding-top: 10px;
}